:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: rgb(235, 231, 219);
  --mainWhite: rgb(255, 255, 255);
  --mainDark: rgb(33, 33, 33);
}

body {
  background: var(--mainWhite) !important;
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  color: var(--mainWhite);
  min-height: 100vh;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(255, 158, 9, 0.5), rgb(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background-color: var(--mainYellow);
  color: var(--mainBrown) !important;
}

.footer {
  background: var(--mainBrown);
}

.about-background {
  min-height: 60vh;
}

.menu {
  background: var(--mainGrey);
}
